@media screen and (min-width: 1921px) {
  #main {
    background-size: 100%;
    background-position: bottom center;
  }
}

@media screen and (max-width: 1764px) {
  #stock .slick-prev {
    left: 574px;
  }

  #stock .slick-next {
    right: 575px;
  }
}

@media screen and (max-width: 1705px) {
  #properties #properties-container .properties-main {
    right: -180px;
  }
}

@media screen and (max-width: 1625px) {
  #stock .slick-prev {
    left: 525px;
  }

  #stock .slick-next {
    right: 528px;
  }

  #descriptions .description-left-bg {
    left: -145px;
  }
}

@media screen and (max-width: 1545px) {
  #properties #properties-container .properties-main {
    right: -75px;
  }

  #stock .slick-next {
    right: 500px;
  }

  #stock .slick-prev {
    left: 500px;
  }
}

@media screen and (max-width: 1459px) {
  #stock .slick-next {
    right: 470px;
  }

  #stock .slick-prev {
    left: 470px;
  }

  #discount #discount-container .discount-bg {
    left: -345px;
  }

  #descriptions .description-left-bg {
    left: -45px;
  }
}

@media screen and (max-width: 1352px) {
  #properties #properties-container .properties-main {
    right: -25px;
  }
}

@media screen and (max-width: 1305px) {
  #stock .slick-next {
    right: 420px;
  }

  #stock .slick-prev {
    left: 420px;
  }

  #properties #properties-container .properties-main {
    right: 60px;
    opacity: 0.8;
  }

  #descriptions .description-left-bg {
    left: -25px;
  }
}

@media screen and (max-width: 1220px) {
  #main #menu, #main #titles, #features, #descriptions #description-container, #properties #properties-container,
  #picking #picking-container, #footer #footer-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  #descriptions {
    #description-container {
      justify-content: center;
      .description-left-bg {
        left: 30px;
      }

      .description {
        width: 520px;
        justify-content: space-evenly;
        .description-image {
          margin-right: 0;
          .radius-inside {
            width: 100px;
            height: 100px;

            #image-description {
              position: static;
            }

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .radius-outside {
            width: 150px;
            height: 150px;

            #image-description-exclusive {
              top: -33px;
              right: 135px;
              opacity: 0.8;
            }
          }
        }

        .description-text-content {
          font-size: 14px;
        }

        .description-text-title {
          font-size: 20px;
        }
      }
    }
  }

  #features #features-items {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  .title-block {
    margin-top: 35px;
  }

  .products .product .product-image {
    margin-right: 10px;
  }

  #stock .products .product {
    padding: 30px 15px;
  }

  #discount #discount-container {
    width: 796px;
  }

  #properties {
    #properties-container {
      #properties-content {
        width: 342px;
        height: 342px;
        #properties-content-image {
          width: 169px;
          height: 169px;
          top: calc(257px - 50%);
          left: calc(257px - 50%);
          img {
            top: -3px;
            left: -25px;
            width: 199px;
            height: 172px;
          }
        }

        .properties-items {
          left: 50px;
          top: 0;
          &.second {
            left: -28px;
            top: 145px;
          }

          &.third {
            top: 281px;
            left: 34px;
          }

          &.fourth {
            top: 281px;
            left: 232px;
          }

          &.fifth {
            top: 159px;
            left: 296px;
          }

          &.sixth {
            top: 28px;
            left: 267px;
          }
        }
      }
    }
  }

  #picking-info-video iframe {
    width: 524px;
    height: 295px;
  }

  #picking #picking-container #picking-info {
    display: flex;
    justify-content: space-evenly;
    #picking-info-video {
      display: flex;
      align-items: center;
      #tea-icon {
        bottom: 34px;
        right: -12px;
      }
    }
  }

  #stock .slick-next {
    right: 390px;
  }

  #stock .slick-prev {
    left: 390px;
  }

  .parallax-window {
    min-height: 300px;
  }
}

/*1024-1199*/
@media screen and (max-width: 1199px) {
  #main #logo-header {
    width: 100%;
  }

  #main #menu a {
    margin: 0 17px;
  }

  #main #header #logo-header-image {
    left: 472px;
  }

  #descriptions #description-container .description {
    width: 480px;
  }

  #stock .products .product {
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #stock .products .product {
    .product-image {
      margin: 0 auto;
      max-width: 100px;
      max-height: 100px;
    }

    .product-content {
      text-align: center;
      width: 250px;
      .product-content-description {
        text-align: center;
        margin: 15px 0;
      }

      .product-content-properties {
        margin-bottom: 10px;
      }

      .block-action {
        img {
          left: 195px;
        }
      }
    }
  }

  #stock .slick-prev {
    left: 360px;
  }

  #stock .slick-next {
    right: 360px;
  }
}

/*768-1023*/
@media screen and (max-width: 1023px) {
  #properties #properties-container {
    margin: 0 auto;
    padding-bottom: 130px;
    #properties-content {
      .properties-items {
        left: 67%;
        top: 154px;
        &.third {
          top: -27px;
          left: 93%;
        }

        &.second {
          left: 84%;
          top: 72px;
        }

        &.fourth {
          top: 239px;
          left: -25%;
        }

        &.sixth {
          top: 314px;
          left: -23%;
        }

        &.fifth {
          top: 386px;
          left: -23%;
        }

        .figure-text {
          font-size: 16px;
        }
      }
    }
  }

  #picking #picking-container .title-block {
    margin: 120px 0 35px;
  }

  #discount #discount-container {
    width: 650px;
    #bg-discount-left {
      width: 150px;
      height: 200px;
      img {
        max-width: 100%;
      }
    }
  }

  #picking #picking-container {
    margin: 0 auto;
    #picking-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  #picking #picking-container #picking-info #picking-info-video #tea-icon {
    bottom: -31px;
    right: -34px;
  }

  #stock .products .product .product-content {
    text-align: center;
    width: 228px;
  }

  #stock .slick-prev {
    left: 325px;
  }

  #stock .slick-next {
    right: 325px;
  }

  .products .product .product-content .block-action img {
    width: 52px;
    height: 50px;
    left: 187px;
  }

  #footer #footer-container #icons {
    width: 195px;
    justify-content: space-evenly;
  }

  #reservation-container {
    #reservation {
      width: 895px;
      #reservation-cancel {
        top: 20px;
        right: 20px;
      }

      #reservation-content-first {
        #reservation-content {
          padding-right: 10px;
          justify-content: space-evenly;
        }
      }

      #reservation-sent {
        height: 450px;
      }
    }
  }
}

@media screen and (max-width: 965px) {
  #main #menu a {
    font-size: 13px;
    margin: 0 12px;
  }

  #main #header #logo-header-image {
    left: 392px;
  }

  #footer #footer-container {
    flex-wrap: wrap;
  }

  #stock .products .product .product-content {
    max-width: 208px;
  }

  #descriptions #description-container {
    padding-bottom: 20px;
  }

  #stock .products .product .product-content .block-action img {
    left: 164px;
  }

  #footer {
    #footer-container {
      margin: 120px auto 0 auto;
      justify-content: space-evenly;
      #logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }

      #icons {
        width: 50%;
        justify-content: space-evenly;
        margin: 0 auto;
      }
    }

    #footer-bottom {
      .footer-item {
        margin: 15px 30px 0;
      }
    }
  }

  #features {
    width: 70%;
    #features-items {
      justify-content: space-between;
      .feature {
        margin-bottom: 40px;
      }
    }
  }

  #reservation #reservation-sent {
    height: 450px;
  }
}

@media screen and (max-width: 900px) {
  #main {
    #logo-header {
      #logo-header-image {
        left: 360px;
      }
    }

    #menu {
      a {
        font-size: 12px;
        margin: 0 10px;
        &:nth-child(3) {
          margin-right: 220px;
        }
      }
    }
  }

  #stock .products .product {
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 1;
  }

  #reservation-container {
    #reservation {
      width: 764px;
      #reservation-cancel {
        top: 20px;
        right: 20px;
      }

      #reservation-content-first {
        #reservation-content {
          padding-right: 10px;
          justify-content: space-evenly;
          #reservation-content-form {
            h2.title-block {
              margin-top: 20px;
              font-size: 40px;
            }

            #reserve {
              margin: 35px 0;
            }

            .block-action {
              .btn {
                font-size: 20px;
                width: 264px;
                height: 48px;
                border-radius: 34px;
              }

              .block-action-image {
                width: 65px;
                height: 62px;
                left: 230px;

                img {
                  max-width: 100%;
                  max-height: 100%;
                }
              }
            }
          }
        }
      }

      #reservation-sent {
        height: 385px;

        h2.title-block {
          margin-top: 20px;
        }
      }
    }
  }
}

/*580-767*/
@media screen and (max-width: 767px) {
  #main #titles {
    text-align: center;
  }

  h1 {
    padding-top: 160px;
    margin-top: 0;
    font-size: 60px;
  }

  #main #titles .block-action {
    display: inline-block;
  }

  #main .block-action .block-action-image {
    top: -19px;
  }

  #main #header #menu {
    top: 74px;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    width: 100%;
    text-align: center;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #header.menu-open {
    background: rgba(0, 0, 0, 0.8);
    height: 74px;
  }

  #main #header.menu-open #menu {
    display: flex;
  }

  #main #header #menu a {
    color: rgb(128, 165, 6);
    padding: 20px 0;
    margin: 0;
    font-size: 20px;
  }

  #main #header #logo-header-image {
    left: 405px;
    top: 13px;
  }

  #main #header #menu a:nth-child(3) {
    margin-right: 0;
  }

  #main #header #tea {
    display: block;
    font-size: 65px;
    line-height: 65px;
    position: absolute;
    top: 16px;
    left: 15%;
    color: #8fbc62;
    z-index: 10;
  }

  #main #header #tea:hover #tea {
    cursor: pointer;
  }

  #main {
    height: 740px;
    background-position: bottom;
  }

  .parallax-window {
    min-height: 150px;
  }

  #features #features-items {
    justify-content: space-evenly;
  }

  #discount {
    position: relative;
    z-index: 1;
    #discount-container {
      padding: 30px 20px 30px 15px;
      max-width: 550px;
      #discount-description {
        justify-content: center;
        #discount-image {
          display: none;
        }

        #discount-content {
          #discount-content-text {
            &:first-child {
              margin: 6px 30px 25px 0;
            }
          }

          #promo-message {
            margin-top: 0;
          }
        }
      }

      #bg-discount-left {
        width: 116px;
      }

      .title-block {
        font-size: 35px;
        text-align: center;
      }
    }
  }

  #stock {
    #category-container {
      flex-wrap: wrap;
      .category {
        font-size: 16px;
        margin: 30px 10px;
      }
    }
  }

  #reservation-container {
    #reservation {
      width: 560px;
      overflow: hidden;
      #reservation-content-first {
        #reservation-content {
          padding-bottom: 34px;
          #reservation-content-image {
            width: 320px;
            position: absolute;
            height: 341px;
            left: 0;
            img {
              max-height: 100%;
            }
          }

          #reservation-content-form {
            #reserve {
              margin: 18px 0;
            }

            .block-action {
              justify-content: center;
              .block-action-image {
                left: 315px;
              }
            }
          }
        }
      }

      #reservation #reservation-sent {
        height: 309px;
        h2.title-block {
          margin: 8px 50% 0 50%;
        }

        #reservation-sent-text {
          margin: 10px 50% 0 50%;
        }
      }
    }
  }

  #reservation #reservation-content #reservation-content-form #reserve input,
  #reservation #reservation-content #reservation-content-form h2.title-block,
  #reservation #reservation-content #reservation-content-form .input-error {
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  #main #header #logo-header-image {
    left: 355px;
  }

  #stock {
    .title-block {
      margin-bottom: 20px;
    }

    #category-container {
      max-width: 500px;
      margin: 0 auto;
      .category {
        font-size: 18px;
        margin: 6px 10px;
      }
    }
  }

  #discount #discount-container .discount-bg {
    display: none;
  }

  #reservation-container #reservation #reservation-cancel {
    z-index: 1;
  }
}

/*480-579*/
@media screen and (max-width: 579px) {

  #picking #picking-container #picking-info #picking-info-video #tea-icon {
    max-width: 80px;
  }

  #picking #picking-container #picking-info #picking-info-video #tea-icon img {
    max-width: 100%;
  }

  #picking-info-video iframe {
    width: 410px;
    height: 230px;
  }

  #picking #picking-container #picking-info-content {
    font-size: 14px;
  }

  #discount #discount-container {
    margin-bottom: 70px;
    max-width: 430px;

    #bg-discount-left {
      width: 95px;
      top: -20px;
      left: -17px;
    }

    #discount-description {
      #discount-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        #discount-content-text {
          font-size: 16px;
          line-height: 20px;
          &:first-child {
            margin: 6px 0 25px 0;
          }
        }

        #discount-promo {
          #promo-message {
            font-size: 18px;
          }

          #discount-content-actions {
            input {
              width: 306px;
              height: 45px;
            }

            .input-error {
              margin: 5px 0 0 74px;
            }
          }
        }

        .block-action {
          margin-top: 20px;
          .btn {
            width: 306px;
            height: 65px;
          }

          .block-action-image {
            width: 90px;
            height: 88px;
            left: 256px;
            img {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

  h2.title-block {
    font-size: 28px;
  }

  #footer {
    height: 100%;
    #footer-container {
      #big-tea {
        position: absolute;
        top: -238px;
      }

      #footer-phone {
        width: 100%;
        text-align: center;
      }
    }
  }

  #descriptions #description-container .description .description-image {
    margin-left: 0;
  }

  #properties #properties-container {
    padding-bottom: 0;
    #properties-content {
      width: 260px;
      height: 260px;
      #properties-content-image {
        top: calc(176px - 50%);
        left: calc(176px - 50%);
        opacity: 0.4;
      }

      .properties-items {
        .point-radius {
          width: 30px;
          height: 30px;
          position: absolute;
          top: -56px;
          left: -197px;
          .point {
            width: 20px;
            height: 20px;
          }
        }

        .figure {
          top: -50px;
          &.fourth {
            left: 43px;
          }

          .figure-text {
            left: 67px;
            font-size: 14px;
            width: 270px;
            top: 1px;
            &.third {
              top: -30px;
              left: 85px;
            }

            &.second {
              top: -48px;
              left: 79px;
            }

            &.fourth {
              width: 270px;
              top: -112px;
              left: 35px;
            }

            &.fifth {
              top: -177px;
              left: 29px;
            }

            &.different {
              top: -46px;
            }
          }
        }
      }
    }
  }

  #properties #properties-container #properties-content .properties-items .figure .figure-img {
    display: none;
  }

  #properties #properties-container #properties-content .second.properties-items .point-radius {
    top: -27px;
    left: -242px;
  }

  #properties #properties-container #properties-content .third.properties-items .point-radius {
    top: -3px;
    left: -265px;
  }

  #properties #properties-container #properties-content .fourth.properties-items .point-radius {
    top: -77px;
    left: 42px;
  }

  #properties #properties-container #properties-content .fifth.properties-items .point-radius {
    top: -150px;
    left: 37px;
  }

  #properties #properties-container #properties-content .sixth.properties-items .point-radius {
    top: -21px;
    left: 37px;
  }


  #stock .products .product .product-image {
    max-width: 150px;
    max-height: 150px;
  }

  #reservation-container {
    #reservation {
      width: 445px;
      #reservation-content-first {
        #reservation-content {
          padding-left: 10px;
        }
      }

      #reservation-sent {
        #reservation-sent-text {
          margin: 40px 0 0 41%;
        }
      }
    }
  }

  .parallax-window {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  #main #header #logo-header-image {
    left: 255px;
  }

  #stock .products .product {
    .product-content {
      max-width: 320px;

      .product-content-description {
        margin: 20px 0;
      }

      .product-content-properties {
        margin-bottom: 35px;
      }

      .block-action {
        img {
          left: 155px;
        }

        .btn {
          height: 40px;
          width: 195px;
        }
      }
    }

    .product-image {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

/*320-479*/
@media screen and (max-width: 479px) {
  #descriptions #description-container .description-left-bg {
    left: 30px;
    opacity: 0.7;
  }

  #main {
    height: 560px;
    background-size: cover;

    #header {
      #tea {
        left: 10%;
      }
    }

    #titles {
      #titles-text {
        margin: 25px 0;
        font-size: 16px;
      }

      .block-action {
        .btn {
          width: 256px;
          height: 50px;
          font-size: 19px;
        }

        a {
          line-height: 50px;
        }

        .block-action-image {
          width: 80px;
          left: 198px;
          top: -15px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  h1 {
    font-size: 40px;
    span {
      font-size: 25px;
    }
  }

  #picking #picking-container #picking-info {
    #picking-info-video {
      #tea-icon {
        display: none;
      }

      iframe {
        width: auto;
        height: auto;
      }
    }

    #picking-info-content {
      width: auto;
    }
  }

  #footer {
    #footer-container {
      #big-tea {
        top: -210px;
        right: 71px;
      }

      #time-work {
        margin: 10px 0;
      }

      #icons {
        width: 75%;
        justify-content: space-between;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #main #header #logo-header-image {
    left: 150px;
  }

  #main #titles-text br {
    display: none;
  }

  #discount {
    padding-right: 10px;
    padding-left: 10px;
    #discount-container {
      width: auto;
      #discount-description {
        #discount-content {
          #discount-content-text {
            font-size: 14px;
            width: auto;
          }

          #discount-promo {
            #promo-message {
              font-size: 16px;
              text-align: center;
            }

            #discount-content-actions {
              .input-error {
                text-align: center;
                margin-left: 0;
                width: auto;
              }

              input {
                width: 270px;
              }
            }
          }

          .block-action {
            .btn {
              width: 270px;
              font-size: 19px;
            }

            .block-action-image {
              width: 72px;
              height: 70px;
              left: 218px;
            }
          }
        }
      }
    }
  }

  #stock {
    .products {
      .product {
        .product-image {
          max-width: 120px;
          max-height: 120px;
        }

        .product-content {
          .product-content-properties {
            margin-bottom: 5px;
          }

          .product-content-description {
            margin: 5px 0;
          }

          .block-action {
            img {
              left: 140px;
            }

            .btn {
              height: 30px;
              width: 135px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  #footer {
    #footer-bottom {
      display: block;
      text-align: center;
    }
  }

  #reservation-container {
    #reservation {
      width: auto;
      #reservation-cancel {
        top: 10px;
        right: 15px;
        width: 10px;
        height: 10px;
        #reservation-cancel-close {
          max-height: 100%;
          max-width: 100%;
        }
      }

      #reservation-content-first {
        #reservation-content {
          #reservation-content-image {
            display: none;
          }

          #reservation-content-form {
            #reserve {
              box-sizing: border-box;
              flex-direction: column;
              width: auto;
              align-content: center;
              #count {
                margin-top: 35px;
                width: 240px;
              }

              #order-title, #name, #phone {
                width: 240px;
              }
            }

            .block-action {
              .btn {
                width: 240px;
                font-size: 18px;
              }

              .block-action-image {
                width: 50px;
                height: 50px;
                left: 198px;
              }
            }

            h2.title-block {
              font-size: 25px;
            }
          }
        }
      }

      #reservation-sent {
        height: 454px;
        h2.title-block {
          margin: 10px auto 0 auto;
        }

        #reservation-sent-text {
          margin: 20px 0 0 0;
          text-align: center;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  #properties #properties-container #properties-content .properties-items .figure .figure-text {
    font-size: 13px;
  }
}